{% extends 'base.html' %}

{% block content %}

{% if error %}
	<h4 class="text-danger">{{ error }}</h4>
	<br>
	<br>
{% endif %}
<h1>Create</h1>

<form action="{% url 'create' %}" enctype="multipart/form-data" method="POST">
	{% csrf_token %}
	Title: <br>
	<input type="text" name="title">
	<br>
	Body: <br>
	<textarea name="body" rows="8" cols="80"></textarea>
	<br>
	URL: <br>
	<input type="text" name="url">
	<br>
	Icon: <br>
	<input type="file" name="icon">
	<br>
	Image: <br>
	<input type="file" name="image">
	<br>
	<input class="mt-3 btn btn-primary" type="submit" value="Add Product">
</form>

{% endblock %}
